*{
font-family: sans-serif;
}
body {
    background-color: #e7e1e1;
}


header {
    display: flex;
    color: white;
    background-color: black;
    padding: 16px;
    font-size: 18px;
    justify-content: space-between;
    border-radius: 16px;
}

header img {
    width: 80px;
    height: 80px;
}

footer {
    display: flex;
    background-color: black;
    text-align: center;
    padding: 16px;
    font-size: 14px;
    color: gray;
    border-radius: 16px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

main > div{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

/* Normal buttons*/
button{
    background-color: darkblue;
    color: white;
}

button:hover{
    background-color: blue;
    color: whitesmoke;
}

/* Header buttons*/
header button {
    background-color: red;
    color: white;
    font-size: 30px;            
    border: none;    
    cursor: pointer;
    margin: 8px;
    padding: 10px;
    border-radius: 16px;
    margin-top: 14px;
}
header button:hover{
    background-color: blue;
    color: whitesmoke;
}


.profile-icon img {
    margin-right: 20px;
    border-radius: 16px;
}


/**/
.form-group {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

textarea {
    width: 300px;
    height: 150px;
    padding: 4px;
    margin-left: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: #fff;
    color: #000;
}


#email {
    border: 2px solid #2f8dd1;
}

#password {
    border: 2px solid #2f8dd1;
}


.link + p {
    margin-top: 15px;
    font-weight: bold;
}

h2 ~ p {
    color: #333;
}


/* Middle gray box for login and index */
.middle-box {
    background-color: lightgray;
    padding: 30px;
    border-radius: 16px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    label {
        margin-top: 50px;
        font-size: 16px;
    }
}

.middle-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.middle-box input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Link behavior*/
.link {
    color: #2f8dd1;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}

/* For phones as wellm*/ 
@media (max-width: 600px) { 
    .post-container { 
        width: 100%; 
        padding: 10px; 
    } 
    .post { 
        width: 100%; 
        padding: 8px; 
    } 
    .post-text { 
        font-size: 14px; 
    } 
    .post-header { 
        font-size: 12px; 
    } 
    .like-button { 
        padding: 5px 8px; 
        font-size: 14px; 
    }
}


/* Popup overlay for profile */
  .popup {
    display: none; /* hidden by default */
    position: fixed;
    top: 90px;      /* alignet to the top-right */
    right: 0px;
    background: rgba(0,0,0,0);
    pointer-events: none; /* allows the profile to be clicked again */
  }

  /* Popup box */
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    pointer-events:auto; /*allows the buttons inside the popup to be clicked*/
  }